<section class="sidebar_component">
    <i
      class="sandwich-menu me-3 bi bi-list"
      data-bs-toggle="offcanvas"
      data-bs-target="#sidebar"
      aria-controls="sidebar"
    ></i>
  
    <div
      class="offcanvas offcanvas-start"
      data-bs-scroll="true"
      tabindex="-1"
      id="sidebar"
      data-bs-backdrop="false"
    >
      <div class="offcanvas-body">
        <p><a class="link-primary link-underline-opacity-0 mb-3" routerLink="/internal/home">Home</a></p>
        <p><a class="link-underline link-underline-opacity-0" href="/internal/banks">Bancos</a></p>
      </div>
    </div>
  </section>
